@import '../../styles/variables';

.container {

    input {
        width: 30rem;
        height: 2rem;
        border-radius: 20px;
        padding-left: 20px;
    }

    ul {
        list-style: none;
        background: $backgroundColor;
        position: absolute;
        border: 1px solid;
        width: 30rem;
        display: flex;
        flex-direction: column;
        padding: 0px 10px;
        margin: 0px;
        border-radius: 15px;
        cursor: pointer;
    }

    li:hover {
        background: $lightGreyColor;
    }

    li {
        margin: 10px 2px;
        text-align: left;
        border-bottom: 1px solid $lightGreyColor;
        padding: 0px;
        line-height: 3;

        a {
            text-decoration: none;
            color: black;
        }
    }
}