.tableContainer {
    border: 1px solid #ddd;
    margin: 0px 3rem;

    span {
        font-weight: bold;
    }
}

.tableContainer tr:nth-child(even){background-color: #f2f2f2;}
.tableContainer tr:hover {background-color: #ddd;}