@import '../../styles/variables';
@import '../../styles/mixins';

.footer {
    background: $tertiaryColor;
    color: $backgroundColor;
    padding: 40px 10px;
    text-align: center;
    @include flex(column);
        
    span {
        color: $redColor;
    }
}