@import '../../styles/variables';
@import '../../styles/mixins';

.footer {
    background: $tertiaryColor;
    color: gray;
    padding: 40px 10px;
    text-align: center;
    @include flex(column);
        
    a {
        text-decoration: none;
        color: gray;
        &:hover {
            color: white;
        }
    }

    
}

.footer-info {
    flex: 1;
    line-height: 40px;
}

.footer-links {
    flex: 1;
    font-size: 2rem;
    @include flex($justify: space-around, $align: center);
    .icon-link {
        color: $primaryColor;
    }
}