@import '../../styles/variables';

.overlayContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    background: $darkColor;
    opacity: 0.7;
}